@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";


@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.convertir{
  background: url('../public/assets/icons/convert.png');
  width: 20px;
  height: 100%;
}


.triangle-left{
  position: absolute;
  right: -17%;
  top: 30%;
  width: 35%;

  height: 100%;
  background: url('../public/assets/background-layers.svg') no-repeat ;
  z-index: 99;
}

.triangle-right{
  position: absolute;
  left: -17%;    
  top: 18%;  
  width: 35%;  
  height: 100%;
  z-index: 99;
  background: url('../public/assets/background-layers.svg') no-repeat;
}